/** Stylus Styles */

.main-content {
  text-align center
  img {
    width 200px
  }
  .main-title {
    color #42b983
  }
  .view1-title {
    color #f06
  }
  .view2-title {
    color #333
  }
  main a {
    margin 0 10px
  }
}