<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <title>Vue.js SSR Template</title>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="icon" href="public/favicon.ico" sizes="16x16">
    <% if(htmlWebpackPlugin.options.environment === 'production') { %>
    <% for(key in htmlWebpackPlugin.files.css){ %>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[key] %>">
    <% } %>
    <% } %>
  </head>
  <body>
    <a class="github-fork-ribbon right-top" href="https://github.com/ccforward/vue-ssr/" title="Fork me on GitHub">Fork me on GitHub</a>
    <noscript id="deferred-styles"></noscript>
    <!-- placeholder -->
    {{ APP }}
    <script>
      var loadDeferredStyles = function() { var e = document.getElementById("deferred-styles"),t = document.head.getElementsByTagName("meta");t[t.length - 1].insertAdjacentHTML("afterend", e.textContent);e.parentElement.removeChild(e) }
      var raf = requestAnimationFrame || mozRequestAnimationFrame || webkitRequestAnimationFrame || msRequestAnimationFrame; raf ? raf(function() { window.setTimeout(loadDeferredStyles, 0) }) : window.addEventListener("load", loadDeferredStyles);
    </script>
    <% if(htmlWebpackPlugin.options.environment === 'production') { %>
    <% for(key in htmlWebpackPlugin.files.js){ %>
    <script defer src="<%= htmlWebpackPlugin.files.js[key] %>"></script>
    <% } %>
    <% } %>
  </body>

</html>